<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Form</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">

    <script src="js/jquery-3.5.1.slim.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.datepicker').datepicker();
        });
    </script>
    <style>
        .row{
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h2>Order Form</h2>
        <div class="alert alert-danger" role="alert" th:if="${status == 1}">
            Data Not Found
        </div>
        <form method="post" action="#" th:object="${input}">
            <div class="row">
                <div class="col-sm-5">
                    <label for="fromCombo">FROM</label>
                    <select class="form-control" id="fromCombo" name="fromCombo" th:field="*{origin}">
                        <option value="0">------- PILIH KOTA ASAL -------</option>
                        <option th:each="city : ${city}"
                                th:value="${city.cityId}"
                                th:text="${city.cityName}">
                        </option>
                    </select>
                </div>
                <div class="col-sm-5">
                    <label for="toCombo" >TO</label>
                    <select class="form-control" name="toCombo" id="toCombo" th:field="*{destination}">
                        <option value="0">------ PILIH KOTA TUJUAN ------</option>
                        <option th:each="city : ${city}"
                                th:value="${city.cityId}"
                                th:text="${city.cityName}">
                        </option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class='col-sm-5'>
                    <div class="form-group">
                        <label for="toCombo">DEPARTURE DATE</label>
                        <div class="input-group date datepicker" data-provide="datepicker">
                            <input type="text" class="form-control" readonly th:field="*{departureDate}">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-5">
                    <label for="flightClass">FLIGHT CLASS</label>
                    <select class="form-control" name="flightClass" id="flightClass" th:field="*{flightClass}">
                        <option value="0">---- PILIH Kelas Penerbangan ----</option>
                        <option th:each="seatCls : ${flightClass}"
                                th:value="${seatCls.classId}"
                                th:text="${seatCls.className}">
                        </option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-5">
                    <label for="flightClass">PASSANGER</label>
                    <div class="row">

                        <div class="col-sm-4">
                            <div class="input-group">
                                <input class="form-control" name="adultPass"
                                       aria-describedby="Passanger" th:field="*{adultPass}">
                                <span class="input-group-addon" id="passager1">Adult</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input class="form-control" name="kidsPass"
                                       aria-describedby="Passanger" th:field="*{childPass}">
                                <span class="input-group-addon" id="passager2">Child</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 pull-right">
                    <input type="submit" class="btn btn-primary" value="ORDER">
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>
</body>
</html>